body{

    background-color: lightgray;
}

h1{
    border-top: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue(71, 71, 71);
    text-align: center;
    padding: 1%

}


body .container{
    display:flex;
    flex-direction: row;
    padding: 2%;
    margin: 2%;

}

.container:nth-child(2n-1){
    background-color: lightblue;
    justify-content: space-between;
}

.container:nth-child(2n){
    background-color: lightgreen;
    padding: 2% 8%;
    justify-content: space-around;
    padding-left: 9%;

}



img{
    max-width: 20%;
    height:auto;

}

footer{

    text-align: center;
    padding: 1%;


}

